*{
	margin: 0;
	padding: 0;
}
body {
	background: #e9ebee;
	font-size: 18px;
	header {
		display: block;
		width: 100%;
		height: 42px;
		background: #4267b2;
		position: fixed;
		z-index: 2000;
		.header_control {
			display: flex;
  			justify-content: center;
			margin: 0 auto;
			max-width: 1366px;
			height: 42px;
			border-bottom: .6px solid rgba(0,0,0,.9);
			.logo_search {
				display: inline-block;
				.logo {
					display: inline-block;
					position: relative;
					width: 28px;
					height:42px;
					img {
						position: relative;
						top: 8px;
						width: 25px;
						height: 25px;
						box-sizing: border-box;
					}
				}
				.search {
					display: inline-block;
				    padding: 0 70px 0 0;
					input {
						width: 393px;
						height: 25px;
						border-radius: 3px;
						overflow: solid 1px #000;
						border: none;
						overflow: hidden;
					    text-transform: none;
					    margin: 0;
					    word-wrap: break-word;
					    padding: 6px;
					    box-sizing: border-box;
					    font-family: Helvetica;
					    color: #1d2129;
					}
				}
			}
			.next_pages {
				display: inline-block;
				height: 42px;
				cursor: pointer;
				ul {
					display: flex;
					flex-direction: row;
					li {
						list-style-type: none;
						border-right: solid 1px rgba(0,0,0,0.2);
						padding: 0 12px 1px;
						position: relative;
						top: 7px;
						width: auto;
						height: 28px;
						line-height: 28px;
						word-wrap: break-word;
						a{
							font-size: 0.8rem;
							font-family: sans-serif; 
							text-decoration: none;
							color: #fff;
							font-weight: bold;
							img:nth-child(1) {
								display: inline-block;
								position: absolute;
								width: 26px;
								height: 26px;
								border-radius: 50%;
								top: 1.4px;
								left: 10px;
							}
							span {
								padding-left: 30px;
							}
						}
					}
					li:hover {
						background: #385898;
						border-radius: 4px;
					};
				}
			}
			.fr_mes_no {
				display: inline-block;
				position: relative;
				top: 2px;
				left: 10px;
				width: 120px;
				height: 42px;
				cursor: pointer;
				.control_img {
					display: inline-block;
					width: 36px;
					height: 42px;
					img {
						display: inline-block;
						position: relative;
						width: 24px;
						height: 24px;
						top:6px;
						left: 6px;
						opacity: .8;
					}
					img:hover {
						opacity: 1
					}
				}
			}
		}
		@media only screen and (max-width: 1330px){
				.search, input {
					display: none;
				}
			}
	}
	.control_Content {
		display: block;
		width: 100%;
		height: auto;
		position: relative;
		top: 42px;
		.control_box {
			display: flex;
			max-width: 1000px;
	  		justify-content: center;
			margin: 0 auto;
			height: auto;
			justify-content: left;
			.One {
				position: relative;
				top: 12px;
				left: 0px;
				width: 180px;
				height: 517px;
				// background: red;
				.icon-text {
					img {
						display: block;
						margin: 5px auto;
						width: 30px;
						height: 30px;
						border-radius: 50%;
					}
					p {
						display: block;
						margin: 0 auto;
						text-align: center;
						font-size: .9rem;
						font-family: sans-serif;
						font-weight: bold;
						padding-bottom: 10px;
						color: #828282;
					}
				}
				ul {
					cursor: pointer;
					li {
						list-style-type: none;
						width: 180px;
						height: 30px;
						a {
							text-decoration: none;
							color: #000;
							text-overflow: ellipsis;

							img {
								display: inline-block;
								position: relative;
								margin-right: 10px;
								top:6px;
								left: 15px;
								width: 20px;
								height: 20px;
							}
							span {
								padding-left: 10px;
								text-align: left;
								line-height: 30px;
								font-family: sans-serif;
								font-size: .95rem;
								color: #373737;
								}
							}
						}
						#news, li:hover {
							background: #f4f4f4;
							border: solid 1px rgba(149, 165, 166,.4);
							box-sizing: border-box;
							border-radius: 3px;
						}
						li:nth-child(2):hover {
							border-top: none;
						}
					}
				.control_group_discovery {
					display: block;
					width: 180px;
					padding-top: 10px; 
					p {
						font-family: sans-serif;
						font-size: .95rem;
						font-weight: bold;
						color: #828282;
						padding-left: 14px;

					}
				}
			}
			.Two {
				display: inline-block;
				position: relative;
				top: 12px;
				left: 12px;
				width: 500px;
				height: 600px;
				// background: green;
				.create_post {
					width: 500px;
					height: 153px;
					background: #fff;
					border-radius: 8px;
					.title_post {
						width: 500px;
						height: 33px;
						background: #F5F6F7;
						border: 1px solid rgba(127, 140, 141,.2);
						border-radius: 3px 3px 0 0;
						box-sizing: border-box;
						p {
							display: inline;
							padding: 4px 4px 4px 12px;
							cursor: pointer;
    						text-decoration: none;
    						font-size: 0.9rem;
    						font-weight: bold;
    						line-height: 33px;
    						color: #4A4A4A;
						}
					}
					.post {
						border: 1px solid rgba(127, 140, 141,.2);
						border-top: none;
						height: 120px;
						border-radius: 0 0 6px 6px;
						.control_post_img {
							display: inline;
							img {
							display: inline-block;
							position: relative;
							top: 14px;
							left: 16px;
							width: 50px;
							height: 50px;
							border-radius: 50%;
							z-index: 30;
							}
						}
						input {
							display: inline-block;
							width: 410px;
							height: 71px;
							outline: none;
							border: none;
							padding-left: 26px;
							font-size: .95rem;
   							z-index: 11;
						}
						hr {
							display: block;
							margin: 0 auto;
							width: 90%;
							opacity: .4;
						}
						ul {
							display: flex;
							flex-direction: row;
							justify-content: left;
							position: relative;
							top: 2px;
							li {
								list-style-type: none;
								box-sizing: border-box;
								vertical-align: middle;
								overflow: hidden;
								text-overflow: ellipsis;
								width: auto;
								height: 30px;
								border: none;
								background: #f5f6f7;
								margin-left: 10px;
								padding: 3px 4px;
								padding-left: 8px;
								padding-right: 6px;
								height: 32px;
 								border-radius: 40px;
 								position: relative;
 								left: 10px;
								a {
									position: relative;
									top: -4px;
									text-decoration: none;
									color: #4b4f56;
									img {
										width: 22px;
										height: 22px;
										position: relative;
										top: 6px;
									}
									span {
										padding: 4px 5px;
										font-size: 0.8rem;
										font-weight: bold;
										font-family: sans-serif;
									}
								}
							}
							li:hover {
								background: rgba(149, 165, 166,.2);
							}
						}
					}
				}
			}
			.Three {
				display: inline-block;
				position: relative;
				top: 12px;
				left: 20px;
				min-width: 260px;
				height: 400px;
				// background: orange;
				z-index: 50;
				.event {
					.event_one {
						display: block;
						width: 260px;
						height: 100px;
						background: #fff;
						border: 1px solid rgba(127, 140, 141,.2);
						border-radius: 8px;
						ul {
							position: relative;
							top: 6px;
							right: -4px;
							li {
								display: block;
								list-style-type: none;
								font-family: sans-serif;
								a {
									text-decoration: none;
									img {
										position: relative;
										top: 2px;
										width: 16px;
										height: 16px;
									}
									p {
										display: inline-block;
										font-size: 0.8rem;
										color: #90949c;
										padding: 4px 4px 4px 0;
										span {
											color: #365899;
											font-weight: bold;
										}
									}
								}
							}
							li:hover {
								width: 250px;
								background: rgba(149, 165, 166,.1);
								border-radius: 4px;
							}
						}
					}
					.event_two {
						display: block;
						margin-top: 12px;
						width: 260px;
						height: 260px;
						background: #fff;
						border: 1px solid rgba(127, 140, 141,.2);
						border-radius: 8px;
						padding: 8px 0 8px 6px;
						box-sizing: border-box;
						h1 {
							font-size: .8rem;
							font-family: sans-serif;
							color: #c9c9c9;
							padding: 4px 0 6px 6px;
						}
						ul {
							li {
								display: block;
								position: relative;
								margin-top: 10px;
								left: 6px;
								img {
									display: inline-block;
									position: relative;
									top: 4px;
									width: 50px;
									height: 50px;
									border-radius: 50px;
								}
								.control_text_two {
									display: inline-block;
									position: relative;
									left: 4px;
									h2 {
										font-size: .85rem;
										padding-bottom: 2px;
										a {
										color: #365899;
										font-family: sans-serif;
										text-decoration: none;
										}
									}
									p {
										font-size: .75rem;
										color: #c9c9c9;
										font-family: sans-serif;
									}
									.control_btn_two {
										position: relative;
										top: 4px;
										button {
										    display: inline-block;
										    height: 24px;
										    width: auto;
											background: #f5f6f7;
    										border: 1px solid rgba(127, 140, 141,.2);
											color: #4b4f56;
										    border-radius: 2px;
										    box-sizing: content-box;
										    text-align: center;
										    text-shadow: none;
										    vertical-align: middle;
										    padding: 0 8px;
										    font-weight: bold;
										}
										button:nth-child(1) {
											margin-right: 6px;
										}
										button:hover {
											background: rgba(149, 165, 166,.2);
										}
									}
								}
							}
						}
					}
				}
			}
			.Four {
				display: inline-block;
				position: fixed;
				top: 43px;
				right: 0;
				width: 205px;
				height: auto;
				background: transparent;
				// background: #365899;
				border: 1px solid rgba(127, 140, 141,.2);
				border-radius: 0 0 0 4px;
				z-index: 12;
				.control_list {
					display: block;
					border-right: none;
					cursor: pointer;
					height: 400px;
					overflow-y: scroll;
					&::-webkit-scrollbar {
						width: 5px;
					  }
					&::-webkit-scrollbar-track {
					box-shadow: inset 0 0 5px grey; 
					border-radius: 10px;
					}
					&::-webkit-scrollbar-thumb {
						background: rgb(104, 104, 104); 
						border-radius: 10px;
					}
					&::-webkit-scrollbar-thumb:hover {
						background: #6b6b6b; 
					  }
					ul {
						display: block;
						li {
							display: block;
							width: auto;
							height: 36px;
							padding: 4px 0;
							// background: #2cdacf;
							margin: 2px 0;
							.friends {
								width: 186px;
								height: auto;
								display: inline-block;
								img:nth-child(1) {
									display: inline-block;
									width: 32px;
									height: 32px;
									border-radius: 50px;
									position: relative;
									top: 2px;
									left: 8px;
								}
								p {
									display: inline-block;
									font-size: .8rem;
									line-height: 36px;
									position: relative;
									font-family: sans-serif;
									top: -8px;
									left: 10px;
									cursor: pointer;
								}
								p:nth-child(3) {
									color: #a9a9a9;
									padding-left: 8px;
								}
								img:nth-child(3) {
									width: 28px;
									height: 28px;
									opacity: .04;
									position: relative;
									left: 10px;
								}
							}
							.action {
								display: inline-block;
								width: 6px;
								height: 6px;
								border-radius: 50%;
								position: relative;
								bottom: 10px;
								right: 12px;
							}
							.action_On {
								background: rgba(68, 189, 50,1.0);
							}
							.action_Off {
								background: rgba(240, 147, 43,1.0);
							}
						}
						li:title {
							color: red;
						}
						li:hover{
							background: rgba(149, 165, 166,.2);
							.friends:hover {
								img:nth-child(3):hover {
									opacity: .6;
									}
							}
						} 
					}
				}
				.search_friends {
					display: block;
					width: 210px;;
					height: 30px;
					background: #fff;
					border-radius: 0 0 0 4px;
					input {
						display: inline-block;
						position: relative;
						top: 2px;
						width: 115px;
						height: 26px;
						outline: none;
						border: none;
						padding-left: 15px;
						box-sizing: borer-box;
						border-radius: 0 0 0 4px;
					}
					.control_sear_friends {
						display: inline-block;
						.img_search {
							display: inline-block;
							margin-right: 2px;
							position: relative;
							top: 6px;
							right: 4px;
							width: 18px;
							height: 18px;
							opacity: .3;
						}
						.img_search:hover {
							opacity: .6;
						}
					}
				}
			}
			@media only screen and (max-width: 1330px){
				.Four {
					display: none;
				}
			}
		}
	}
}